body {
  background-color: antiquewhite;
  padding: 5px;
}

* {
  font-size: 12pt;
  font-family: "Arial";
}

.nobr { white-space:nowrap; }

.image {
  border-radius: 5px;
  margin: 5px;
}



h1 {
  margin: 20px;
}

h2 {
  margin-top: 10px;
  font-variant: all-small-caps;
  text-decoration: underline green;
}

p {
  margin-top: 10px;
}

iframe#googleform {
  background-color: aquamarine;
  marging: 10px 0 10px 0;
}
